{% extends 'header.html' %}

{% block content %}<div class="dashboard">
  <div class="dashboard-banner">
    <img src="static/images-banner2.jpg">
    <div class="banner-promo">
      <h1><span>50% OFF</span><br>
      Tasty Food <br>On Your Hand</h1>
    </div>
    <h3 class="dashboard-title">Recommended Food For You</h3>
    <div class="dashboard-menu">
      <a href="a">Favourites</a>
      <a href="a">Best Seller</a>
      <a href="a">Near Me</a>
      <a href="a">Promotions</a>
      <a href="a">Top Rated</a>
      <a href="a">All</a>
    </div>

   <div class="container-fluid">
  <div class="row justify-content-center">
    {% for Restaurant in restaurants %}
      <div class="card restaurant-card">
        <img src="{{ Restaurant.Restaurant_gif }}" class="card-img-top" alt="gif for Restaurant item">
        <div class="card-body">
          <h5 class="card-title">{{ Restaurant.Restaurant_title }}</h5>
          <p class="card-text">{{ Restaurant.Restaurant_description|safe }}</p>
          <button class="btn btn-dark open-menu" data-target="#menu{{ forloop.counter }}">Order {{ Restaurant.Restaurant_title }}</button>

        </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
      

{% endblock %}
