#khra{
  color: pink;
}
.dashboard{
  height: 100%;
  width: 100%;
  padding-right: 360px;
  padding-left: 60px;
}
.dashboard-banner{
  height: 300px;
  width: 100%;
 position: relative;
 margin-top: 4rem;
 padding:1rem ;
 border-radius: 30px;
 cursor: pointer;
}
.dashboard-banner > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.banner-promo{
  position: absolute;
  color: var(--darkGrey);
  top: 25%;
  left: 10%;
  font-weight: 800;
}
.dashboard-title{
  padding: 0 1rem;
}
.dashboard-menu{
  display: flex;
  gap: 10px;
  padding: 0.3rem 1rem;
  overflow-x: auto;
}

.dashboard-menu > a{
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  min-width: 120px;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--darkBlack);
  background-color: var(--lightGrey);
}

.dashboard-menu > a:hover{
  background-color: var(--red);
  color: var(--lightGrey);
}

.container-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.row{
  background-color: var(--mainColor);
  box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
} 
.row:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card{
  padding: 10px;
}

.restaurant-card {
  width: 18rem;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.3s ease-in-out;
}

.restaurant-card:hover {
  transform: translateY(-5px); /* Lift card slightly on hover */
}

.restaurant-card .card-img-top {
  width: 100%;
  height: 200px; /* Adjust as needed */
  object-fit: cover; /* Ensure the image covers the card */
}

.restaurant-card .card-body {
  padding: 15px;
}

.restaurant-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.restaurant-card .card-text {
  color: #555;
}

.restaurant-card .btn {
  margin-top: 10px;
}

